.add-game-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.add-game-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: 75%;
    justify-content: center;
}


.add-game-input-container {
    display: flex;
    flex-direction: column;    
}

.add-game-input-container > label {
    color: var(--font-color);
    font-size: 1.25rem;
}

.add-game-input-container > input,  .add-game-input-container > select {
    padding: 0.5rem;
    width: 100%;
}

.add-game-form > button {
    color: var(--font-color);
    background-color: var(--background-color-header);
    padding: 15px 10px;
    align-self: center;
    border: none;
    margin-top: 10px;
}

.add-game-form > button:hover {
    cursor: pointer;
}

#selected-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.choice-div {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 10px;

}

.close-button {
    border-radius: 100%;
    border: none;
    width: fit-content;
    align-self: self-end;
}

.choice-p {
    margin: 0;
}