.genres-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 25px;
    margin: 0 20px;
    padding-bottom: 10px;
    height: 100%;
}

.individual-genre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--background-color);
    border-radius: 5px;
    font-size: 1.25rem;
    color: var(--font-color);
    background-color: rgb(178, 190, 181);   
}

.individual-genre-container:hover {
    transform: scale(1.05);
}