.individual-game-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.individual-game-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.individual-game-text-info-container {
    font-size: 1.5rem;
}

.game-poster {
    height: auto;
    width: 100%;
    max-width: 500px;
}

.individual-game-info-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.individual-game-info-buttons > button {
    padding: 5px 10px;
}

.individual-game-info-buttons > button:hover {
    cursor: pointer;
    
}

.delete-button {
    color: var(--font-color);
}

.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialog-close-button {
    align-self: flex-end;
}

.dialog-delete-button {
    color: var(--font-color);
    
}