* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

html, body {
    height: 100%;
    margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}


.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}