:root {
    --search-height: 2rem;
    --background-color-header: rgb(27, 18, 18);
    --background-color-main: rgb(245, 245, 245);
    --font-color: rgb(255, 49, 49);
    --games-posters-row-height: 150px;
    --number-of-rows-for-games-posters: 2;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

html, body {
    height: 100%;
    margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}


.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color-main);
}