<div class="add-game-form-container">
    <form action="/add-game" method="POST" class="add-game-form">
        <div class="add-game-input-container">
            <label for="game-title">Game title:</label>
            <input id="game-title" name="game-title" type="text" required>
        </div>
        
        <div class="add-game-input-container">
            <label for="developer-name">Developer name:</label>
            <input id="developer-name" name="developer-name" type="text" required>
        </div>
        
        <div class="add-game-input-container">
            <label for="genres">Genres:</label>
            <input id="genres" name="genres" type="text" required>
        </div>
        
        <button type="submit">Add Game</button>
    </form>
</div>