<div class="add-game-form-container">
    <form action="/add-game" method="POST" class="add-game-form">
        <div class="add-game-input-container game-title-input-container">
            <label for="game-title">Game title:</label>
            <input id="game-title" name="game-title" type="text" placeholder="Enter game title and select poster" required>
            <div class="suggested-game-posters-container-wrapper hidden">
                <div class="suggested-game-posters-container"></div>
            </div>
            <input id="selected-game-poster" name="selected-game-poster" type="hidden" required>
        </div>
        
        <div class="add-game-input-container">
            <label for="developer-name">Developer name:</label>
            <input id="developer-name" name="developer-name" type="text" placeholder="Enter developer name" required>
        </div>
        
        <div class="add-game-input-container">
            <label for="genres">Genres:</label>
            <select id="genres" name="genres">
                <option value="" selected>Choose an option</option>
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="rpg">RPG</option>
                <option value="shooter">Shooter</option>
                <option value="strategy">Strategy</option>
                <option value="simulation">Simulation</option>
                <option value="sports">Sports</option>
                <option value="racing">Racing</option>
                <option value="puzzle">Puzzle</option>
                <option value="platformer">Platformer</option>
                <option value="fighting">Fighting</option>
                <option value="horror">Horror</option>
                <option value="stealth">Stealth</option>
                <option value="survival">Survival</option>
                <option value="sandbox/open world">Sandbox/Open World</option>
                <option value="rhythm/music">Rhythm/Music</option>
                <option value="party/casual">Party/Casual</option>
                <option value="moba">MOBA</option>
                <option value="mmorpg">MMORPG</option>
                <option value="card/board">Card/Board</option>
                <option value="other">Other</option>
            </select>
            <div id="selected-genres-div"></div>
            <input id="selected-genres" name-="selected-genres" type="hidden" required>
        </div>
        
        <button type="submit">Add Game</button>
    </form>
</div>