<div class="genres-container">
    <% data.forEach(datum => { %>
            <a href="/browse-genres/genre/<%= datum.urlName %>" class="individual-genre-container"><%= datum.name %></a>
    <% }) %>
</div>