<div class="genres-container">
    <% data.forEach(datum => { %>
        <div class="individual-genre-container">
            <a href="/browse-genres/genre/<%= datum.urlName %>"><%= datum.name %></a>
        </div>
    <% }) %>
</div>