<div class="games-container">
    <% data.forEach(datum => { %>
        <div class="game-card">
            <img src="<%= datum.image_url %>" width="150" height="200">
            <p class="game-title"><%= datum.title %></p>
        </div>
    <% }) %>
</div>