<dialog role="alertdialog" aria-label="Delete Game Confirmation" id="deleteGameDialog">
    <div class="dialog-container">
        <button type="button" class="dialog-close-button">X</button>
        <p>Please enter password to delete game</p>
        <form method="post" id="deleteGameForm">
            <input id="password" type="password" name="password" autofocus>
            <button type="submit" class="dialog-delete-button">DELETE</button>
        </form>
    </div>
</dialog>

<div class="individual-game-main-container">
    <div class="individual-game-info-container">
        <div>
            <img src="<%= data.image_url %>" class="game-poster">
        </div>
        <div class="individual-game-text-info-container">
            <p>
                Title: <%= data.title %>
            </p>
            <p>
                Developer: <%= data.name %>
            </p>
            <p>
                Genres: <%= data.genre_names.join(", ") %>
            </p>
        </div>
    </div>
    <div class=" individual-game-info-buttons">
                    <button type="button">Edit</button>
                    <button type="button" class="delete-button">Delete</button>
        </div>
    </div>