<div class="individual-game-info-container">
    <div>
        <%= data.image_url %>
    </div>
    <div>
        <p>
            Title: <%= data.title %>
        </p>
        <p>
            Developer: <%= data.name %>
        </p>
        <p>
            Genres: <%= data.genre_names.join(", ") %>
        </p>
    </div>  
</div>