<div class="games-container">
    <% data.forEach(datum => { %>
        <div class="game-card">
            <img src="<%= datum.image_url %>">
            <div>Title: <%= datum.title %></div>
            <div>Deverloper: <%= datum.name %></div>
            <div>Genres: <%= datum.genre_names.join(", ") %></div>
        </div>
    <% }) %>
</div>